* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper__header {
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: url(../assets/pexels-photo-248515.png);
  background-size: cover;
  min-height: 450px;
}

.wrapper__header--text {
  width: 55%;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .wrapper__header--text {
    width: 85%;
  }
}

.wrapper__header--text h1 {
  padding: 3em 0 0.7em 0;
  font-size: 2.2em;
}

@media screen and (max-width: 1100px) {
  .wrapper__header--text h1 {
    line-height: 1.5em;
  }
}

.wrapper__header--text p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.wrapper__header--text .btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 1.2em 2em;
  border: 1px solid #666;
  margin: 1.5em 0;
  font-size: 1.1em;
  line-height: 1.5em;
  text-decoration: none;
}

.wrapper__header--text .btn:hover {
  background: #fff;
  color: #333;
  cursor: pointer;
}

.wrapper__main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #eaeaea;
}

.wrapper__main--heading {
  display: inline;
}

.wrapper__main--heading h2 {
  padding: 1em 0 0.7em 0;
  font-size: 1.7em;
  line-height: 1.7em;
}

.wrapper__main--content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
  .wrapper__main--content {
    padding: 1.5em 0;
  }
}

.wrapper__main--content_article {
  width: 27%;
  font-size: 1.1em;
  line-height: 1.5em;
  padding: 0.5em;
  margin-bottom: 3em;
}

@media screen and (max-width: 1100px) {
  .wrapper__main--content_article {
    width: 45%;
  }
}

@media screen and (max-width: 700px) {
  .wrapper__main--content_article {
    width: 90%;
    padding: 0;
    margin: 0;
  }
}

.wrapper__card_container {
  background: #333;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1100px) {
  .wrapper__card_container {
    padding: 1em;
  }
}

.wrapper__card_container--card {
  width: 18%;
  background: #fff;
  padding-bottom: 1.5em;
  margin: 2em 0.7em;
}

@media screen and (max-width: 1100px) {
  .wrapper__card_container--card {
    width: 27%;
  }
}

@media screen and (max-width: 700px) {
  .wrapper__card_container--card {
    width: 100%;
    margin: 0.5em 0.2em;
  }
}

.wrapper__card_container--card_image {
  width: 100%;
}

.wrapper__card_container--card_image img {
  width: 100%;
}

.wrapper__card_container--card_heading {
  padding: 2.2em 0;
  font-size: 1.3em;
  font-weight: 500;
}

.wrapper__card_container--card_text {
  padding: 0 1.5em;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.wrapper__info {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .wrapper__info {
    width: 90%;
    margin: auto;
  }
}

.wrapper__info h1 {
  font-size: 1.6em;
  margin: 2.5em 0;
}

.wrapper__info p {
  font-size: 1.1em;
  line-height: 1.5em;
  width: 59%;
  margin: auto;
  margin-bottom: 3em;
}

@media screen and (max-width: 1100px) {
  .wrapper__info p {
    width: 90%;
  }
}

.wrapper__contact {
  background: #333;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper__contact--about {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .wrapper__contact--about {
    width: 100%;
  }
}

.wrapper__contact--about_heading {
  padding: 3em 0em;
  font-size: 1.1em;
  line-height: 1.5em;
}

.wrapper__contact--about p {
  padding: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
  padding-bottom: 1.5em;
}

.wrapper__contact--about_email {
  font-size: 1.1em;
  line-height: 1.5em;
  padding-bottom: 3em;
}

.wrapper__contact--about:hover {
  background: #2690d4;
}

.wrapper footer {
  font-size: 1.1em;
  background: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2em;
}

@media screen and (max-width: 700px) {
  .wrapper footer {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */