@import "./_variables";
@import "./mixins";
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.wrapper {
    &__header {
        color: $primary-white;
        @include center();
        background: url(../assets/pexels-photo-248515.png);
        background-size: cover;
        min-height: 450px;
        &--text {
            width: 55%;
            margin: auto;
            @media screen and (max-width: $ipad) {
                width: 85%;
            }
            h1 {
                padding: 3em 0 0.7em 0;
                font-size: 2.2em;
                @media screen and (max-width: $ipad) {
                    line-height: 1.5em;
                }
            }
            p {
                @include small-font();
            }
            .btn {
                display: inline-block;
                background: $primary-black;
                color: $primary-white;
                padding: 1.2em 2em;
                border: 1px solid $color-border;
                margin: 1.5em 0;
                @include small-font();
                text-decoration: none;
                &:hover {
                    background: $primary-white;
                    color: $primary-black;
                    cursor: pointer;
                }
            }
        }
    }
    &__main {
        @include center();
        background: $color-bg;
        &--heading {
            display: inline;
            h2 {
                padding: 1em 0 0.7em 0;
                font-size: 1.7em;
                line-height: 1.7em;
            }
        }
        &--content {
            @include display-flex();
            @media screen and (max-width: $ipad) {
                padding: 1.5em 0;
            }
            &_article {
                width: 27%;
                @include small-font();
                padding: 0.5em;
                margin-bottom: 3em;
                @media screen and (max-width: $ipad) {
                    width: 45%;
                }
                @media screen and (max-width: $tablet) {
                    width: 90%;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
    &__card_container {
        background: $primary-black;
        @include display-flex();
        @media screen and (max-width: $ipad) {
            padding: 1em;
        }
        &--card {
            width: 18%;
            background: $primary-white;
            padding-bottom: 1.5em;
            margin: 2em 0.7em;
            @media screen and (max-width: $ipad) {
                width: 27%;
            }
            @media screen and (max-width: $tablet) {
                width: 100%;
                margin: 0.5em 0.2em;
            }
            &_image {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            &_heading {
                padding: 2.2em 0;
                font-size: 1.3em;
                font-weight: 500;
            }
            &_text {
                padding: 0 1.5em;
                @include small-font();
                margin-bottom: 0.5em;
            }
        }
    }
    &__info {
        @include center();
        width: 100%;
        @media screen and (max-width: $ipad) {
            width: 90%;
            margin: auto;
        }
        h1 {
            font-size: 1.6em;
            margin: 2.5em 0;
        }
        p {
            @include small-font();
            width: 59%;
            margin: auto;
            margin-bottom: 3em;
            @media screen and (max-width: $ipad) {
                width: 90%;
            }
        }
    }
    &__contact {
        background: $primary-black;
        color: $primary-white;
        @include display-flex();
        &--about {
            width: 50%;
            @media screen and (max-width: $tablet) {
                width: 100%;
            }
            &_heading {
                padding: 3em 0em;
                @include small-font();
            }
            p {
                padding: 1em;
                @include small-font();
                padding-bottom: 1.5em;
            }
            &_email {
                @include small-font();
                padding-bottom: 3em;
            }
            &:hover {
                background: $primary-blue;
            }
        }
    }
    footer {
        font-size: $font-small;
        background: #000;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 2em;
        @media screen and (max-width: $tablet) {
            display: block;
            @include center();
        }
    }
}